*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
i{
    font-style:  normal;
}
.head{
    width: auto;
    height: 135px;
}
.head .top{
    width: 100%;
    height: 50px;
    border-bottom:1px solid #535353;
    background: #3e3e3e;
}
.head .top .left{
    width: 55%;
    height:45px;
    float: left;
    margin: 2.5px 50px;
}
.head .top .left i{
    display: block;
    width: 14px;
    height: 14px;
    line-height: 45px;
    color: white;
    font-size: 18px;
}
.head .top .left span{
    font-size: 12px;
    color: #c2c2c2;
    margin-left: 32px;
    display: block;
    margin-top: 0.5px;
    width: 180px;
    height: 45px;
    float: left;
}
.head .top .left h1{
    font-size: 12px;
    color: #c2c2c2;
    margin-left: -34px;
    margin-top: 2.5px;
    line-height: 10px;
    font-weight: 300;
    float: left;
}
.head .top .right{
    width: 33%;
    height: 45px;
    float: left;
    margin: 2.5px 0 ;
}
.head .top .right i{
    display: block;
    width: 14px;
    height: 14px;
    line-height: 45px;
    color: white;
    font-size: 25px;
    float: right;
    margin-right: 40px;
}
.head .biao{
    width: 100%;
    height: 84px;
    background:#3e3e3e ;
    overflow: hidden;
}
.head .biao img{
    display: block;
    width: 130px;
    height: 83px;
    margin-left: 50px;
    float: left;
}
.head .biao .zi{
    width:49%;
    height: 47px;
    margin-top: 18.5px;
    float: left;
    margin-left: 45px;
}
.head .biao .zi span{
    font-size: 16px;
    line-height: 47px;
    color: white;
    margin-left: 20px;
}
.head .biao input{
    width: 20%;
    height: 38px;
    border:0;
    background:#3e3e3e ;
    border-bottom:1px solid #c3c6c4;
    margin-top: 23px;
    margin-left:7%;
    position: relative;

}
.head .biao i{
    font-size: 25px;
    color:#c3c6c4;
    position: absolute;
    top:82px;
    right:7%;
}
.top{
    width: 1349px;
    height: 200px;
}
.top .zi{
    width: 520px;
    height: 180px;
    margin-left: 414.5px;
    margin-top: 30px;
}

.top .zi span{
    margin-left: 175px;
    font-size: 18px;
    line-height: 30px;
    margin-left:240px;
    color: #ffc223;
}
.top .zi h1{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222221;
    font-weight: 700;
}
.top .zi .xian{
    width: 60px;
    height: 5px;
    background: #000000;
    margin-left: 230px;
    margin-top: 20px;
    border-radius: 10px;
}
.top .zi p{
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #858483;
    text-align: center;
}
.zhongzi {
    width: 1349px;
    height: 40px;
}
.zhongzi i{
    color: #000000;
    font-size: 18px;
    line-height: 40px;
    margin-left: 50px;
}
.zhongzi span{
    color: #c2c0c0;
    font-size: 16px;
    line-height: 40px;
    margin-left: 10px;
}
.he{
    width: 100%;
    height: 680px;
    overflow: hidden;
}
.he .box{
    width:32%;
    height: 340px;
    float: left;
    margin-right: 2%;
    position: relative;
}
.he .box .ying{
    width:100% ;
    height: 300px;
    background: black;
    opacity: 0.7;
    position: absolute;
    top:0;
    display: none;
}
.he .box:hover .ying{
    display: block;
}
.he .box .ying .fang{
    width: 195px;
    height: 90px;
    margin: 105px  auto;
}
.he .box .ying .fang h1{
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.he .box .ying .fang .xian{
    width: 100px;
    height: 3px;
    border-radius: 3px;
    margin: 20px auto;
    background: #FFFFFF;
}
.he .box .ying .fang span{
    display: block;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 10px  auto;
    color: #888686;
}
.he .box:nth-child(3){
    margin-right: 0px;
}
.he .box:nth-child(6){
    margin-right: 0px;
}
.he .box i{
    color: #c2c0c0;
    font-size: 16px;
    line-height: 40px;
    margin-left: 10px;
}
.he .box span{
    color: #000000;
    font-size: 16px;
    line-height: 40px;
    margin-left: 2px;
}
.bottom{
    width: 100%;
    height: 520px;
    background: #222221;
}
.bottom .top{
    width: 88%;
    height: 176px;
    margin-left: 84.5px;
    border-bottom: 1px solid #c3c6c4;
    overflow: hidden;
}
.bottom .top .box{
    width: 24%;
    height: 76px;
    margin-top: 80px;
    float: left;
    overflow: hidden;
}
.bottom .top .box i{
    font-size: 40px;
    color:#ffffff;
    display: block;
    margin-top: 15px;
    float: left;
}
.bottom .top .box a {
    color: #ffffff;
    font-size: 16px;
    display: block;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.bottom .top .box span{
    color: #ffffff;
    font-size: 12px;
    display: block;
    float: left;
    margin-left: 30px;
}
.bottom .xia{
    width: 88%;
    height: 341px;
    margin-left: 84.5px;
    overflow: hidden;
}
.bottom .xia .box{
    width: 24%;
    height: 361px;
    margin-top: 40px;
    float: left;
}
.bottom .xia .er{
    width: 24%;
    height: 361px;
    margin-top: 40px;
    float: left;
}
.bottom .xia .er h1{
    color: #ffffff;
    font-size: 16px;
}
.bottom .xia .er p{
    display: block;
    width: 180px;
    margin-top: 30px;
    line-height: 20px;
    color: #c2c2c2;
    font-size: 14px;
}
.bottom .xia .er img{
    display: block;
    width: 102px;
    height: 102px;
    margin-top: 50px;
}
.bottom .xia .er span{
    color: #ffffff;
    font-size: 12px;
}
.bottom .xia .box h1{
    color: #ffffff;
    font-size: 16px;
}
.bottom .xia .box i{
    display: block;
    margin-top: 10px;
    color: #c2c2c2;
}
.bottom .xia .box span{
    display: block;
    margin-top: 10px;
    color: #c2c2c2;
}
.bottom .xia .box a{
    display: block;
    margin-top: 10px;
    color: #c2c2c2;
}
.bottom .xia .box h2{
    color: #ffffff;
    font-size: 16px;
    margin-top: 30px;
}
.bottom .xia .box p{
    display: block;
    width: 180px;
    margin-top: 30px;
    line-height: 20px;
    color: #c2c2c2;
    font-size: 14px;
}
.bottom .xia .fu{
    width: 297.5px;
    height: 361px;
    margin-top: 40px;
    float: left;
}
.bottom .xia .fu h1{
    color: #ffffff;
    font-size: 16px;
}
.bottom .xia .fu p{
    display: block;
    width: 180px;
    margin-top: 30px;
    line-height: 20px;
    color: #c2c2c2;
    font-size: 14px;
}
.bottom .xia .fu h2{
    color: #ffffff;
    font-size: 16px;
    margin-top: 35px;
}
.bottom .xia .fu .zhi{
    width: 287.5px;
    height: 60px;
    margin-top: 20px;
    overflow: hidden;
}
.bottom .xia .fu .zhi img{
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}
.bottom .xia .fu .zhi img:nth-child(1){
    width: 49px;
    height: 34px;
}
.bottom .xia .fu .zhi img:nth-child(2){
    width: 34px;
    height: 34px;
}
.bottom .xia .fu .zhi img:nth-child(3){
    width: 34px;
    height: 34px;
}
.tu{
    width: 100%;
    height: 300px;
    position: relative;
}
.tu .yin{
    width: 100%;
    height: 300px;
    background: black;
    opacity: 0.7;
    position: absolute;
    top:0;
    display: none;
}
.tu .yin .zi{
    width: 150px;
    height: 75px;
    margin:105px  auto;
}
.tu .yin .zi h1{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.tu .yin .zi .xian{
    width: 90px;
    height: 3px;
    border-radius: 3px;
    margin: 15px  auto 0;
    background: #FFFFFF;
}
.tu .yin .zi span{
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #888686;
    margin: 10px   auto;
}
.tu:hover .yin{
     display: block;
}